@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
    background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* shorthand is "background: url(background-photo) center center cover no-repeat fixed;"*/
}

#ray {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 75px;
    height: 60px;
}

#main-header {
    font-family: 'Major Mono Display', monospace;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#countdown {
    font-family: 'Major Mono Display', monospace;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
